[Desktop Entry]
Encoding=UTF-8
Name=Link to Two CSV files, merge data field - Web, Mobile & Software Dev
Type=Link
URL=https://www.upwork.com/jobs/Two-CSV-files-merge-data-field_%7E01d9a17cb2a3eb26f5
Icon=text-html
